<div class="container mycontainer">
    <div class="row justify-content-around align-items-end myrow">
                <div style="text-align:center">
                                <h1>
                                  WELCOME TO DXC CARES
                                </h1>
                                <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide><img src="assets/Images/image1.jpg" ></ng-template>  
                                <ng-template carouselSlide><img src="assets/Images/image2.jpg" width="100%" height="100%"></ng-template>  
                                                  
                                <ng-template carouselSlide><img src="assets/Images/image3.png" width="100%" height="100%"></ng-template> 
                                <ng-template carouselSlide><img src="assets/Images/image5.jpg" width="100%" height="100%"></ng-template>
                                <ng-template carouselSlide><img src="assets/Images/image6.png" width="100%" height="100%"></ng-template>
                                <ng-template carouselSlide><img src="assets/Images/lastimage.jpg" width="100%" height="100%"></ng-template> 
                                <ng-template carouselSlide><img src="assets/Images/image1.jpg" ></ng-template>  
                                <ng-template carouselSlide><img src="assets/Images/image2.jpg" width="100%" height="100%"></ng-template>  
                                                  
                                <ng-template carouselSlide><img src="assets/Images/image3.png" width="100%" height="100%"></ng-template> 
                                <ng-template carouselSlide><img src="assets/Images/image5.jpg" width="100%" height="100%"></ng-template>
                                <ng-template carouselSlide><img src="assets/Images/image6.png" width="100%" height="100%"></ng-template>
                                <ng-template carouselSlide><img src="assets/Images/lastimage.jpg" width="100%" height="100%"></ng-template>  
                                </owl-carousel-o>
                        </div>
        <div class="col-4 mycol">
                <a routerLink="show-requests">
                        <div class="card bg-dark text-white">
                                <br>
                                <img class="card-img-center" src="assets\Images\electronic_requests.jpg" alt=" Donation Requests ">
                                <div class="card-body">Donation Requests</div>
                        </div>
                </a>
                
        </div>
    
    </div>
</div>
