.input-icons i{
    position: absolute;
}

.input-icons{
    width: 100%;
    margin-bottom: 10px; 
    margin-left: 30px;
}

.icon{
    padding: 10px;
    padding-top:12px;
    min-width: 40px;
}
.input-field{
    width: 80%;
    padding: 10px;
    padding-left: 30px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
fieldset{
    border: 2px solid gold;
    border-radius: 10px;
}
.top-field{
    margin-top: 10px;
}
.bottom-button{
    margin-bottom: 10px;
    color:black;
    background-color: gold;
    font-weight: bolder;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.form-text{
    color:red;
}