<nav class="navbar navbar-expand-sm bg-success navbar-light">
    <a class="navbar-brand" href="#" style="font-weight: bolder;">USER</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link" style="font-weight: bold;">Link1</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="font-weight: bold;">Link2</a></li>
    </ul>
    <div *ngIf="!logged" class=" ml-auto">
        <ul class="navbar-nav">
            <li class="nav-item"><a routerLink="login" class="nav-link" style="font-weight: bold;">Log in&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a></li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item"><a routerLink="register" class="nav-link" style="font-weight: bold;">Sign up&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></a></li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item"><a href="#" class="nav-link"><span class="navbar-toggler-icon"></span></a></li>
        </ul>
    </div>
    <div *ngIf="logged" class=" ml-auto">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link" style="font-weight: bold;"><img src="assets/myavatar.jpg" alt="Your Avatar" class="image"/>&nbsp;{{name}}</a></li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item"><a href="#" class="nav-link"><span class="navbar-toggler-icon" ></span></a></li>
        </ul>        
    </div>
 
</nav>